<mat-toolbar class="toolbar">
    <img src="assets\pics\logo.png" alt="" height="120px" routerLink="/Home" style="cursor: pointer;">
    <div class="links">
        <a routerLink="/Home">Home</a>
        <a routerLink="/Home/OpeningHours">Opening Hours</a>
        <a routerLink="/Home/Menu&Pricing">Our Menu&Pricing</a>
        <a routerLink="/Home/AboutUs" style="text-decoration: underline;"><b>About Us</b></a>
        <a routerLink="/Home/ContactUs">Contact Us</a>
    </div>
    <p class="contact-info"><b>01416111774</b></p>
</mat-toolbar>
<div style="background-image: url('assets/pics/Blog_Back.jpg');background-size: cover; background-position: center; background-repeat: no-repeat;height: 300px;">
    <br>
    <br>
    <div class="hero-section">
        <h1>
            <span>BUY </span>
            <span>BEST  </span>
            <span class="organic">ORGANIC</span>
            <br>
            <span class="product">PRODUCT </span>
            <span> ONLINE</span>
        </h1>
        <button mat-raised-button routerLink="/Home/Menu&Pricing" style="background-color: #4d3d37;color: white;"><b>Get Yours Now</b></button>
    </div>
    
</div>
<div class="content">
    <div>
        <h1>About Our Story</h1>
        <p>Welcome to Supreme Spot, the ultimate destination for <br> fast food lovers in Frome, Somerset! Established in <br> February 2014 by <b> Mr. Adrian Venoin </b>, Supreme Spot has <br> been serving up mouthwatering delights to the local <br> community and beyond.</p>
        <br>
        <p>At Supreme Spot, we take pride in our commitment to <br> quality, flavor, and convenience. Our mission is <br> simple: to provide delicious fast food options that <br> satisfy cravings and bring joy to every customer's palate.</p>
    </div>
    <div>
        <img src="assets\pics\fast-food.jpg" alt="" height="320px">
    </div>
</div>
<div class="content">
    <div>
        <img src="assets\pics\istockphoto-1081422898-612x612.jpg" alt="" height="320px">
    </div>
    <div>
        <p>Our team is dedicated to crafting each dish with care and precision, using only the finest ingredients to ensure maximum satisfaction. Whether you're craving juicy burgers, crispy fries, <br> or indulgent milkshakes, we've got you covered.</p>
        <br>
        <p>But Supreme Spot is more than just a fast food joint – it's a gathering place for friends and family to create lasting <br> memories over great food. Our welcoming atmosphere and <br> friendly staff make every visit a memorable experience.</p>
    </div>
</div>

<br>
<br>
<footer class="footer">
    <p style="margin-top: -40px;margin-left: 40px;">Copyright © 2023 Yamm Buffet - All Rights Reserved.</p>
    <p routerLink="/Home/PrivacyPolicy" style="margin-left: -80px;margin-top: 80px;cursor: pointer;">PRIVACY POLICY</p>
    <p style="margin-top: -40px;margin-right: 120px;">Powered by GoDaddy Website Builder</p>
</footer>