<mat-toolbar class="toolbar">
    <img src="assets\pics\logo.png" alt="" height="120px" routerLink="/Home" style="cursor: pointer;">
    <div class="links">
        <a routerLink="/Home">Home</a>
        <a routerLink="/Home/OpeningHours">Opening Hours</a>
        <a routerLink="/Home/Menu&Pricing">Our Menu&Pricing</a>
        <a routerLink="/Home/AboutUs">About Us</a>
        <a routerLink="/Home/ContactUs">Contact Us</a>
    </div>
    <p class="contact-info"><b>01416111774</b></p>
</mat-toolbar>
<div style="text-align: center;margin-top: 70px;">
    <h1>OUR PRIVACY POLICY</h1>
</div>
<div style="background-color: rgb(204, 207, 209);margin-left: 25%;margin-top: 50px;height: 60px;border: 4px solid rgb(204, 207, 209);padding: 10px;margin-right: 25%;border-radius: 10px;">
    <h3 style="margin-left: 40%;">Comming Soon</h3>
</div>
<br>
<br><br><br><br><br>
<footer class="footer">
    <p style="margin-top: -40px;margin-left: 40px;">Copyright © 2023 Yamm Buffet - All Rights Reserved.</p>
    <p routerLink="/Home/PrivacyPolicy" style="margin-left: -80px;margin-top: 80px;cursor: pointer;">PRIVACY POLICY</p>
    <p style="margin-top: -40px;margin-right: 120px;">Powered by GoDaddy Website Builder</p>
</footer>