/* app.component.css */

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.links {
    display: flex;
}

.links a {
    margin-left: 35px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.contact-info {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 50px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .toolbar {
        flex-direction: column;
        height: auto;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .links a {
        margin: 10px 0;
    }

    .contact-info {
        margin-top: 20px;
    }
}
.vl {
    border-left: 6px solid rgb(179, 117, 4);
    height: 310px;
    margin-left: 50px;
    margin-top: 20px;
}
.container {
    text-align: center;
    color: #5f5450;
    margin-top: 80px;
    border: 4px solid rgb(179, 117, 4);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      margin-left: 5%;
    }
    .container {
        border: none; /* Remove border at small screens */
      }
  }
  
  @media only screen and (max-width: 480px) {
    .container {
      margin-left: 3%;
    }
    .container {
        border: none; /* Remove border at small screens */
      }
  }
  
  .container > div {
    margin-left: -25%;
    margin-right: -20%;
  }
  
  .hours {
    letter-spacing: 0.2em;
    margin-top: -15px;
    color: rgb(179, 117, 4);
  }
  
  .days {
    display: flex;
  }
  
  .days > div {
    margin-top: 20px;
  }
  
  .hours > h3, .days > div > h3 {
    font-weight: bold;
  }
  
  .hours > h2 {
    margin-left: 20px;
  }
  
  .days > div:first-child {
    margin-left: 37%;
  }
  
  .days > .vl {
    border-left: 4px solid rgb(179, 117, 4);
    height: 310px; /* Adjust height as needed */
    margin-left: 30px;
  }
  
  .days > div:last-child {
    margin-left: 30px;
  }
  
  .foooter {
    color: rgb(179, 117, 4);
  }
  .footer {
    height: 130px;
    background-color: #4d3d37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
  }
  
  .footer p {
    color: white;
    font-size: smaller;
  }
  
  @media only screen and (max-width: 480px) {
    .footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto; /* Auto height to accommodate content */
    }
  
    .footer p {
      margin-top: 10px;
      margin-left: 20px; /* Adjust margin for spacing */
    }
  }
  