<mat-toolbar class="toolbar">
    <img src="assets\pics\logo.png" alt="" height="120px" routerLink="/Home" style="cursor: pointer;">
    <div class="links">
        <a routerLink="/Home" style="text-decoration: underline;"><b>Home</b></a>
    <a routerLink="/Home/OpeningHours">Opening Hours</a>
        <a routerLink="/Home/Menu&Pricing">Our Menu&Pricing</a>
        <a routerLink="/Home/AboutUs">About Us</a>
        <a routerLink="/Home/ContactUs">Contact Us</a>
    </div>
    <p class="contact-info"><b>01416111774</b></p>
</mat-toolbar>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between; height: auto; background-color: rgb(228, 230, 231); padding: 20px;">
    <div style="flex: 1; margin-left: 70px;margin-top: 50px;">
        <h1 style="font-family: 'Papyrus', sans-serif;font-size: 50px;">The Tasty House</h1>
        <h1 style="font-family: 'Papyrus', sans-serif;font-size: 30px;">Enjoy Your Healthy <br> Delicious Food</h1>
        <p>Bringing People Together, One Plate at a Time</p>
        <p>A Symphony of Tastes, A Feast for the Senses.</p>
        <button mat-raised-button style="background-color: #4d3d37; color: white;margin-top: 20px;" routerLink="/Home/Menu&Pricing">
            <b>Shop Now</b>
        </button>        
    </div>
    <img src="assets\pics\Orecchiette.png" alt="" height="420px" style=" margin: 30px;">
</div>
<div style="height: 800px;background-image: url('assets/pics/The20deco20de81cor20CIRQA20.webp');background-size: cover;background-repeat: no-repeat;">
    
</div>
<div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 20px;">
    <img src="assets\pics\pexels-photo-262978.jpeg" alt="" height="350px" style="margin: 20px;">
    <div style="flex: 1; margin: 20px; text-align: center;">
        <h1 style="font-size: 40px;">GIFT VOUCHERS</h1>
        <p style="font-size: 20px;">Send a gift voucher  to friends and family or buy it now <br> for your future use.</p>
    </div>
</div>
<div style="text-align: center; padding: 20px;">
    <h1 style="font-family: 'Algerian', sans-serif;">VISIT US</h1>
    <p>SPECIAL REQUESTS?</p>
    <p>Do you have dietary concerns? Questions about an upcoming event? Drop us a <br> line, and we'll get back to you soon!</p>
</div>
<br>
<br>
<footer class="footer">
    <p style="margin-top: -40px;margin-left: 40px;">Copyright © 2023 Yamm Buffet - All Rights Reserved.</p>
    <p routerLink="/Home/PrivacyPolicy" style="margin-left: -80px;margin-top: 80px;cursor: pointer;">PRIVACY POLICY</p>
    <p style="margin-top: -40px;margin-right: 120px;">Powered by GoDaddy Website Builder</p>
</footer>